* {
  margin: 0;
  padding: 0;
}

.wf-active body, .wf-active input, .wf-active button {
  font-family: 'Open Sans', Tahoma, sans-serif;
}

body, input, button {
  font-family: arial, sans-serif;
  letter-spacing: 0.01em;
}

strong {
  font-weight: 600;
}

object {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph {
  margin: 1em auto;
  padding-left: 1em;
  padding-left: 1rem;
  padding-right: 1em;
  padding-right: 1rem;
}

div.list.multiple div {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

div.list.multiple dl {
  margin: 1em;
  padding: 0.5em 1em;
}

div.paragraph > p,
div.paragraph > ul,
div.paragraph > ol,
div.paragraph > dl {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul ul, ul ol, ul dl,
ol ul, ol ol, ol dl,
dl ul, dl ol, dl dl {
  margin: 0.5em 0;
  padding-left: 0;
  padding-right: 0;
}

div.list > ul,
div.list > ol,
div.list > dl {
  margin-top: 0;
  margin-bottom: 0;
}

div.list > ul > *:first-child,
div.list > ol > *:first-child,
div.list > dl > *:first-child {
  margin-top: 0;
}

h1, h2, h3, h4 {
  margin: 1.5em auto 1em;
  margin: 1.5rem auto 1rem;
}

button, input[type="submit"] {
  cursor: pointer;
}

button[disabled] {
  cursor: inherit;
  /* opacity: 0.6; */
  color: inherit;
}

li, dd, dt {
  margin-top: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
  margin-bottom: 0.5rem;
}

li, dd {
  margin-left: 3em;
}

div.section > pre {
  margin: 1em auto;
  margin: 1rem auto;
  padding: 1em;
  padding: 1rem;
}

.contentlink-bc li {
  /* display: block; */
  list-style: none;
  margin: 0;
}

#content > div, #header > div {
  max-width: 62em;
  max-width: 62rem;
  margin: 0 auto;
}

#content > div {
  padding-bottom: 1.5em;
  padding-top: 0.5em;
}

#footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

#footer ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer ul li {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

#footer > ul.globalmenu li {
  margin-left: 0;
  margin-right: 0;
}

#footer ul ul li {
  margin: 0;
}

#footer > ul.globalmenu > li a {
  text-decoration: none;
  padding: 0.1em 0.7em;
  display: inline-block;
}

#footer > ul.globalmenu > li li {
  margin: 0.2em 0;
}

#footer > ul.globalmenu > li a.current {
  font-weight: 600;
}

#footer .link {
  display: none;
}

/* Browser compatibility */

.no-flexbox div.list.multiple div dl {
  display: inline-block;
}

.no-flexbox #footer > ul {
  display: table;
}

.no-flexbox #footer > ul li {
  display: inline-block;
  padding: 0 0.5em;
}
