@charset 'UTF-8';
:root {
  --list-multiple-item-margin: 0.5rem;
  --global-border-radius: 0.5rem;

  --hdesc-dim-bg: none;
}

.part.clanky .list {
  --global-max-width: 80rem;
  --list-multiple-item-margin: 1rem;
}
.part.clanky .list > div {
  justify-content: space-around;
}
.part.clanky .card {
  max-width: 24em !important;
}
.part.clanky .card .hideable a.hideable-switch:before {
  all: initial;
}
.part.clanky .card .button-list {
  --button-list-item-margin: 0;
  margin: 0;
  margin-top: 1em;
  justify-content: space-between;
}
.part.clanky .card .button-list li:first-child {
  flex-grow: 1;
}
.part.clanky .card .button-list li:first-child .button {
  --button-padding: 1em;
  width: auto;
  min-width: auto;
}
.part.clanky .card .extra {
  padding-bottom: 0.5em;
}