@charset "UTF-8";
/***************************/
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, div.list, pre {
  margin: 1.5em auto 1em;
  padding-left: 1rem;
  padding-right: 1rem;
}
li {
  margin-bottom: 0.3em;
  max-width: 45em;
}
#header,
#content {
/*   max-width: 120em; */
}
#header > div {
  max-width: 80em;
}
#content > :not(.hdesc):not(.section) > *, #content > .hdesc > *, #content > .section > .part > *, #header > *, #footer > * {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
#content p.description {
  max-width: 45em;
}
/***************************/
#content strong  {
  font-weight: 500;
}
/***************************/
div.list {
  margin-top: 2em;
  margin-bottom: 2em;
}
#content div.list.multiple {
  max-width: 82em;
  padding: 0 0.5em;
  margin-top: 0;
}
/***************************/
dl.figure {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
dl.figure dt {
  padding: 0;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 12em;
  -webkit-align-self:  center;
      -ms-flex-item-align:  center;
          align-self:  center;
}
dl.figure dt img {
  object-fit: cover;
  /* width: 100%; */
  max-width: 13em;
}
dl.figure.author dt img {
  border-radius: 100%;
}
dl.figure dd {
  padding-top: 1.5em;
  margin: 0;
}
/***************************/
.hdesc {
  margin-bottom: 2em;
}
/***************************/
#footer .globalmenu,
#header .hideable {
  display: none;
}
/***************************/
ul.docinfo.nomultiple.global {
  text-align: right;
  list-style: none;
}
/***************************/
ol.contentlink-bc {
  margin: 0;
  padding: 0;
}
#header .contentlink-bc {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
#header .contentlink-bc li ~ li {
  display: none;
}
#header .contentlink-bc a {
  border: none;
}
/***************************/
.clanek .heading a,
h1, h2, h3 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h2, h3 {
  color: #111;
}
h1 + p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 3em;
  max-width: 45em;
}
/***************************/
#header .contentlink-bc img {
  width: 2.5em;
}
#header .contentlink-bc {
  padding: 0 1.25em;
}
#header .contentlink-bc li a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.6em;
}
.hdesc > div > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/***************************/
dl.figure dt object {
  width: 100%;
}
dl.figure.author {
  display: block;
  background: none;
  max-width: 57em;
  margin: 4em auto;
}
dl.figure.author:after {
  content: "";
  display: table;
  clear: both;
}
dl.figure.author .img + dd {
  font-size: 1.2em;
}
@media all and (min-width: 42em) {
  dl.figure.author {
    text-align: left;
  }
  dl.figure.author .img {
    float: left;
    width: auto;
  }
  dl.figure.author > *:not(.img) {
    margin-left: 16rem;
  }
}
/***************************/
dl.clanek > *:not(:first-child):not(.date) {
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
.clanek img {
  object-fit: cover;
  width: 100%;
  height: 15em;
  max-height: 100%;
  border-radius: 0.5em 0.5em 0 0;
}
.clanek dt:first-child {
  position: relative;
}
.clanek dt:first-child a {
  display: block;
  position: relative;
  z-index: 1;
  border: none;
}
.clanek dd.kw {
  margin: 0.75em 0;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.clanek .heading {
  font-size: 1.5em;
  margin: 0 0 0.25em 0;
}
.clanek .desc {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5em 0;
  color: #555;
}
#content .clanek .extra {
  padding: 1em 0.4em 0.6em 0.4em;
  padding-top: 1em;
  width: calc(100% - 0.8rem);
}
.clanek .extra ul li {
  margin: 0;
  padding: 0;
}
.clanek .date {
  text-align: right;
  width: calc(100% - 2rem);
}
/***************************/
a.tag {
  border: none;
  margin: 0.2em 0.5em 0.2em 0;
  display: inline-block;
  border-radius: 0.2em;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  font-size: 1.25em;
  line-height: 0;
}
/***************************/
ul.docinfo.nomultiple.global {
  margin-bottom: 0;
}
ul.docinfo.nomultiple.global li {
  margin: 0;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
ul.docinfo.nomultiple.global li:before {
  color: #757575;
}
ul.docinfo.nomultiple.partial {
  list-style: none;
  text-align: right;
  font-style: italic;
}
ul.docinfo.nomultiple.partial li {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
/***************************/
