@charset "UTF-8";

div.list.multiple > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.list.multiple div > dl {
  flex: 0 1 96%;
  max-width: 96%;
  box-sizing: border-box;
  margin: 0.5em 2%;
  padding: 0.5em 1em;
}

@media (min-width: 46em) {
  div.list.multiple div > dl {
    flex: 0 1 46%;
    max-width: 46%;
  }
}

@media (min-width: 68em) {
  div.list.multiple div > dl.clanek {
    flex: 0 1 29.33%;
    max-width: 29.33%;
  }
}