@charset "UTF-8";
/***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}
.wf-active body {
  font-family: Cabin, sans-serif;
  color: #444;
}
.clanek .heading a,
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: Rubik, sans-serif;
}
/***************************/
strong {
  font-weight: 600;
}
a, label {
  color: #3F51B5;
  border-color: #5C6BC0;
}
p label {
  border-bottom: thin solid;
}
a[href] {
  border-color: #9fa8da;
}
.hdesc label,
.hdesc a {
  color: white;
  border-color: rgba(255, 255, 255, 0.74);
}
/***************************/
dl.figure {
  color: #37474f;
  padding: 0.5em;
}
dl.figure dt {
  /* width: 100%; */
  align-items: center;
}
/***************************/
#header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
}
#header .contentlink-bc a {
  color: white;
}
#header .contentlink-bc li a[href] span {
  border-color: rgba(255, 255, 255, 0.6);
}
#header .contentlink-bc a {
  border: none;
}
#header .contentlink-bc span {
  display: none;
  margin-left: 0.8em;
  border-bottom: thin solid transparent;
  margin-bottom: 0.1em;
}
.hdesc {
  color: white;
  position: relative;
  overflow: hidden;
}
.hdesc > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1em;
}
.hdesc > div > h1 {
  max-width: 18em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
#header > div {
  display: flex;
}
#header > div form {
  flex-grow: 1;
}
.hdesc > div {
  margin-top: 6em;
  padding-top: 4vw;
  margin-bottom: 1em;
  /* padding-bottom: 5vw; */
  position: relative;
}
.hdesc > div div.meta {
  max-width: 25em;
  margin-bottom: 2em;
  padding-bottom: 2vw;
  width: 100%;
}
.hdesc > div h1 + div {
  max-width: 40em;
  margin-top: 2em;
  padding-top: 2vw;
  padding-bottom: 5vw;
  width: 100%;
}
@media (min-width: 42em) {
  #header .contentlink-bc span {
    display: block;
  }
  #header > div {
    display: flex;
    z-index: 11;
    justify-content: space-between;
    padding: 0;
  }
}
.hdesc a {
  color: white;
}
.hdesc > div > * {
  padding: 0;
  /* position: relative; */
  z-index: 1;
}
.hdesc > div > div > * {
  line-height: 1;
  display: inline;
  padding: 0;
}
.hdesc > div  a.tag:last-child {
  margin-right: 0;
}
.hdesc > div > div > p.description {
  padding-left: 0.25em;
}
.hdesc:before,
.hdesc:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hdesc:after {
  background: rgba(0, 0, 0, 0.6509803921568628);
}
.hdesc:before {
  background-size: cover;
  background-position: 50% 30%;
}
/***************************/
.hdesc:before {
  -webkit-animation: ken-burn-in 10s;
          animation: ken-burn-in 10s;
}
@-webkit-keyframes ken-burn-in {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ken-burn-in {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/***************************/
dl.figure.author dt q {
  display: block;
  margin-top: 1rem;
  font-size: 1.2em;
  font-style: italic;
  color: #A76820;
}
dl.figure.author dd q {
  font-style: italic;
}
/***************************/
#content .clanek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
  position: relative;
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2),
    0 0.1em 0.1em 0 rgba(0,0,0,.14),
    0 0.05em 0.25em 0 rgba(0,0,0,.12);
  padding: 0;
  border-radius: 0.5em;
  background: white;
  width: 100%;
  max-width: 25em;
}
.clanek dt:first-child img {
  display: block;
}
.clanek dt:first-child a:before {
  transition: all .5s ease-in-out;
}
a.tag:before,
.clanek .heading a {
  transition: all .2s ease-in-out;
}
.clanek dt:first-child a:before,
.clanek dt:first-child a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.8) 0%,rgba(0, 0, 0, 0) 25%);
  border-radius: 0.5em 0.5em 0 0;
}
.clanek dt:first-child a:before {
  background: none;
}
.clanek dt:first-child a:hover:before {
  background: rgba(0, 0, 0, 0.34901960784313724);
}
.clanek > * {
  margin: 0;
  width: 100%;
}
.clanek .heading a {
  color: #111;
  border: none;
}
.clanek .heading a:hover {
  color: #3949ab;
}
.clanek .date {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  z-index: 2;
}
.clanek .desc.expand {
  height: auto;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.25em;
  line-height: 0;
  vertical-align: -0.1em;
}
.extra ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100%;
  position: relative;
  align-items: center;
}
.extra ul li {
  height: 2.25em;
}
.extra ul li:nth-child(2) {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.extra .button {
  border: none;
  display: inline-block;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
#feedback button:hover,
.filter .button:hover,
.contentbalancer-simple a:hover,
.extra .button:hover {
  background: #e8eaf6;
}
#feedback button:active,
#feedback button:focus,
.filter .button:active,
.filter .button:focus,
.contentbalancer-simple a:focus,
.contentbalancer-simple a:active,
.extra .button:focus,
.extra .button:active {
  background: #c5cae9;
}
/***************************/
.contentbalancer-simple {
  margin: 2.5em 0;
}
.contentbalancer-simple ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
@media (max-width: 30em) {
  .contentbalancer-simple ul {
    flex-direction: column;
    align-items: center;
  }
}
.contentbalancer-simple ul li {
  margin: 0.5em 0;
  /* min-width: 14em; */
}
.contentbalancer-simple ul li a {
  margin: 1em 0;
}
/***************************/
a.tag[href]:hover:before {
  color: #9e9e9e;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  color: #e0e0e0;
  font-size: 1.25em;
  line-height: 0;
}
h2 a.tag:before,
a.tag[href^="#"]:before {
  color: #9e9e9e;
}
a.tag:not([href]) {
  border: none;
  color: inherit;
}
.kw {
  display: flex;
  flex-wrap: wrap;
  height: 1.5em;
  overflow: hidden;
  justify-content: center;
}
h2 a.tag {
  margin-left: 0.5em;
}
h2 a.tag:before {
  /* color: #9e9e9e; */
}
/***************************/
.current-label {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
}
.current-label li {
  margin: 0;
  display: flex;
  align-items: center;
}
.current-label li + li a {
  cursor: pointer;
  max-width: none;
}
.current-label li span {
  margin-left: 0.5em;
}
dl.toptags {
  flex: 0 1 96% !important;
  max-width: 36em !important;
}
dl.toptags dt {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
}
dl.toptags dd {
  max-height: 5em;
  overflow: hidden;
  margin-left: 0;
}
.contentbalancer-simple .donation a,
.author .contentbalancer-simple a,
.filter .button {
  vertical-align: middle;
  border-width: 0.1em;
  margin-left: 0.5em;
  white-space: nowrap;
  border-style: solid;
}
.filter .button {
  margin-left: 1em;
}
.author .contentbalancer-simple li {
  margin-top: 1em;
}
.author .contentbalancer-simple li:first-child {
  margin-right: 1em;
}
#feedback button:first-child,
.author .contentbalancer-simple a {
  margin-left: 0;
}
/***************************/
#footer {
  background: #e9e9e9;
  padding-top: 3em;
}
/***************************/
.hdesc:before { 
  background-image: url("/files/koutek/main.jpg");
}
/***************************/
.search {
  padding-right: 6em;
  width: 100%;
}
.search .navigList strong {
  font-weight: 600;
}
.search .navigList li:before {
  font-family: "FontAwesome";
  margin-right: 0.5em;
}
.search .navigList .article:before {
  content: "\f0f6";
}
.search .navigList .tag:before {
  content: "\f02b";
}
.search .navigList .google:before {
  content: "\f1a0";
}
.search .navigList span {
  color: #9e9e9e;
}
.search ul input {
  color: #fff;
}
.search ul input {
  height: 3.5em;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.3215686274509804);
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 100%;
  /* border: thin solid #ffffff61; */
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0 0 0 0.25em;
  border: thin solid rgba(255, 255, 255, 0.32);
  border-top: none;
}
@media (min-width: 42em) {
  .search {
    max-width: 25em;
  }
  .search ul input {
    width: 18em;
  }
  .search ul input:focus {
    width: 100%;
  }
}
@media (min-width: 81em) {
  .search ul button {
    border-radius: 0 0 0.25em 0 !important;
  }
}
.search ul input:focus {
  color: inherit;
  background: #ffffff;
}
@media (max-width: 42em) {
  .search ul input:focus {
    position: absolute;
    max-width: calc(100% + 5em);
    width: calc(100% + 5em);
    border-radius: 0;
    border-left: none;
    left: 0;
    top: 0;
    margin-left: -5em;
  }
}
.search ul input::placeholder {
  color: #fff;
}
.search ul input:focus::placeholder {
  color: #555;
}
.search button[type="submit"] {
  font-family: "FontAwesome";
  width: 6rem;
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  border: none;
  position: absolute;
  right: -6rem;
  top: 0;
  background: #ef6c00;;
  color: #fbe9e7;
  padding: 0 1rem;
  font-size: 1.8em;
  outline: none;
  border-radius: 0;
  -webkit-appearance:  none;
}
.search button[type="submit"]:hover {
  background: #fb8c00;
}
.search button[type="submit"]:active,
.search button[type="submit"]:focus {
    background: #e65100;
}
.search button[type="submit"]:before {
  content: "\f002";
  display: inline-block;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul > li {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.search .navigList {
  width: calc(100% + 6em) !important;
  right: -6em;
  top: 3.5em;
}
.search .navigList li {
  max-width: calc(100% - 0.5em);
  display: block;
}
@media (max-width: 38em) {
  .search .navigList {
    width: calc(100% + 11em) !important;
    right: -6em;
    top: 3.5em;
  }
}
/***************************/
.pralek.hdesc {
  margin-bottom: 0;
}
.pralek.hdesc > div {
  position: relative;
}
div.part.upozorneni,
div.part.internetguru {
  padding-top: 4em;
  padding-bottom: 4em;
}
div.part.upozorneni:before,
div.part.internetguru:before {
  content: "";
  display: block;
  margin: 0em auto 2em auto;
  width: 12em;
  height: 12em;
  background: url("/files/newsletter.png") 50% 50% no-repeat;
  background-size: 95%;
}
div.part.internetguru:before {
  background: url("/files/leaf.png") 48% 64% #eaf6ff no-repeat;
  background-size: 75%;
  border-radius: 100%;
}
@media all and (min-width: 42em) {
  div.part.upozorneni,
  div.part.internetguru {
    max-width: 55em;
    margin: 0 auto;
  }
  div.part.upozorneni > *,
  div.part.internetguru > * {
    width: 65%;
    margin-left: 0 !important;
  }
  div.part.upozorneni:before,
  div.part.internetguru:before {
    float: right;
    margin-right: 2em;
    margin-top: 4em;
  }
}
div.part.o_praleku,
div.part.odkazy,
div.part.clanky {
  padding: 0.1em 0 1em 0;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/greyzz.png) #f9f9f9;
}
/***************************/
.moreable-linkwrapper a,
.contentbalancer-simple a,
.newsletter input[type="submit"],
.button,
button {
  border-style: none;
  padding: 0.6rem 1rem 0.5em;
  letter-spacing: .08929em;
  border-radius: 0.35em;
  transition: 0.25s ease-out;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  max-width: 15em;
  cursor: pointer;
  font-size: 1rem;
  /* box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.14),     0 0.15em 0.05em -0.1em rgba(0,0,0,0.12),     0 0.05em 0.25em 0 rgba(0,0,0,0.2); */
}
.moreable-linkwrapper a,
.button:hover,
button:hover {
  /*
  box-shadow: 0 0.15em 0.15em 0 rgba(0,0,0,0.14),
    0 0.05em 0.35em 0 rgba(0,0,0,0.12),
    0 0.15em 0.05em -0.05em rgba(0,0,0,0.2);
  */
}
#feedback .feedback-yes,
#feedback .feedback-no,
ol.otazky button {
  margin: 0.2em 0;
}
#feedback .feedback-yes:before,
#feedback .feedback-no:before,
ol.otazky button:before {
  content: "\f00c";
  font-family: "FontAwesome";
  padding-right: 0.5em;
}
#feedback .feedback-no:before,
ol.otazky button:last-child:before {
  content: "\f00d";
}
.newsletter input[type="submit"],
#feedback button:first-child,
.contentbalancer-simple li.donation a,
#content #feedback .feedback-yes,
#feedback .feedback-no,
ol.otazky button {
  cursor: pointer;
  border: 0.1em solid;
  background: none;
  color: #4CAF50;
  border-color: #66BB6A;
}
.newsletter input[type="submit"],
#feedback .contentbalancer-simple li.donation a {
  border: none;
}
.newsletter input[type="submit"]:hover,
#feedback button:first-child:hover,
.contentbalancer-simple li.donation a:hover,
#content #feedback .feedback-yes:hover,
ol.otazky button:hover {
  background-color: #e8f5e9;
}
.newsletter input[type="submit"]:active,
.newsletter input[type="submit"]:focus,
#feedback button:first-child:active,
#feedback button:first-child:focus,
.contentbalancer-simple li.donation a:active,
.contentbalancer-simple li.donation a:focus,
#feedback .feedback-yes:active,
#feedback .feedback-yes:focus,
ol.otazky button:active,
ol.otazky button:focus {
  background-color: #c8e6c9;
}
#feedback .feedback-no,
ol.otazky button:last-child {
  color: #F44336;
  border-color: #EF5350;
}
#feedback .feedback-no:hover,
ol.otazky button:last-child:hover {
  background-color: #ffebee;
}
#feedback .feedback-no:active,
#feedback .feedback-no:focus,
ol.otazky button:last-child:active,
ol.otazky button:last-child:focus {
  background-color: #ffcdd2;
}
ol.otazky button:not(.selected):disabled {
  color: #dadada;
}
.otazky li span {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@media (min-width: 30em) {
  .otazky li span {
    display: block;
    max-width: none;
    margin: 0.6em 0;
  }
  .otazky li span button:first-child {
    margin-right: 0.7em;
  }
}
/***************************/
.newsletter {
  display: block;
}
.newsletter dl {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.newsletter dt {
  display: none;
}
.newsletter dd {
  float: none;
  display: flex;
  max-width: none;
}
.newsletter input[type="submit"] {
  width: auto;
}
.newsletter input[type="email"] {
  border: none;
  padding: 0.3em 0.5em;
  margin-left: 0;
  border-bottom: thin solid #e0e0e0;
  /*!  */
  min-width: 0;
}
/***************************/
.example,
.important {
  max-width: 45em !important;
  padding: 1em;
  background: #ffebee;
  color: #b71c1c;
  overflow: hidden;
  display: table;
}
.example:before,
.important:before {
  content: "\f071";
  font-family: "FontAwesome";
  color: #ef9a9a;
  font-size: 2em;
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}
.example {
  background: #fff3e0;
  color: #e65100;
}
.example:before {
  content: "\f0eb";
  color: #ef6c00;
}
/***************************/
.moreable-linkwrapper {
  width: 100%;
  max-width: 100% !important;
  flex: 0 0 100% !important;
  text-align: center;
  padding-top: 3em !important;
}
.moreable-linkwrapper a {
  display: inline-block;
  margin: 0 auto !important;
  width: auto;
  border: 0.1em solid;
  cursor: pointer;
  max-width: none !important;
}
.moreable-linkwrapper a:hover {
  background: #e8eaf6;
}
.moreable-linkwrapper a:focus,
.moreable-linkwrapper a:active {
  background: #c5cae9;
}
/***************************/
a#scrolltop {
  transition-property: all !important;
  /* transition-duration: 0.5s !important; */
  transition-timing-function: ease-in-out !important;
  background: #ef6c009e !important;
  border-radius: 0.3rem !important;
}
a#scrolltop:hover {
  background: #ef6c00d6 !important;
}
/***************************/
ul.docinfo.nomultiple.partial li,
ul.docinfo.nomultiple.global li {
  display: inline-flex;
  align-items: center;
}
ul.docinfo.nomultiple.partial li span:first-child,
ul.docinfo.nomultiple.global li > span:first-child {
  color: #757575;
  width: 1rem;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
ul.docinfo.nomultiple.partial li span:first-child ~ span,
ul.docinfo.nomultiple.global li > span:first-child ~ span {
  margin-left: 0.25em;
}
/***************************/
.copyable-wrapper {
  max-width: 100%;
  overflow: hidden;
  background: #f1f3ff;
  display: flex;
  justify-content: space-between;
  border-radius: 0.3rem;
  align-items: center;
}
.extra .copyable-wrapper {
  position: absolute;
  right: 0;
  top: -2.7rem;
  /* height: 100%; */
  /* overflow: hidden; */
  line-height: 110%;
  text-align: left;
}
.clanek .copyable-wrapper {
  width: 100%; 
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2), 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.05em 0.25em 0 rgba(0,0,0,.12), 0 -0.6em 0.5em 0em #ffffff9e;
}
.hdesc .copyable-wrapper {
  /* box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2), 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.05em 0.25em 0 rgba(0,0,0,.12), 0 -0.6em 0.5em 0em #00000000; */
  top: -2.4rem;
}
.copyable-wrapper > span:first-child {
  order: 2;
  font-size: 1.2em;
  background: #e0e0e0;
  padding: 0.1em 0.2em 0.1em 0.4em;
  border-radius: 0 0.3rem 0.3rem 0;
  flex-shrink: 0;
  height: 1.6em;
  line-height: 1.6;
}
.copyable-wrapper > span:first-child button {
  padding: 0.2em;
  height: 1.7em;
  width: 2em;
  border-radius: 0;
  overflow: hidden;
  background: none;
  color: transparent;
}
.hdesc .copyable-wrapper > span:first-child button {
  padding: 0.3em;
}
.copyable-wrapper > span:first-child button:before {
  content: "\f0ea";
  font-family: "FontAwesome";
  color: #333;
}
.copyable-wrapper > span:first-child + span {
  padding: 0 0.5em;
  overflow: hidden;
  height: 1.2em;
  flex-shrink: 1;
  word-break: break-all;
  outline: none;
}
.hdesc .copyable-wrapper > span:first-child + span {
  /*! height: 1.2em; */
}
.extra .hideable {
  display: flex;
  /* text-align: right; */
  /* align-items: flex-end; */
  justify-content: flex-end;
  /*! position: relative; */
  margin-left: auto;
}
.fb a,
.twitter a {
  border: 0;
}
.extra .hideable-switch,
.fb a,
.twitter a {
  transition: 0.25s ease-out;
  font-size: 1.3rem;
  display: block;
  overflow: hidden;
  line-height: 1;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  box-sizing: border-box;
  color: transparent;
}
.extra .hideable > span:first-child {
  order: 10;
}
.extra span a {
  margin: 0 0.2em;
  border: none;
  text-align: left;
}
html:not(.js) .extra .hideable > span:first-child,
html:not(.js) .extra .hideable > .copyable {
  display: none;
}
.hdesc .extra *:before {
  color: white;
}
.hdesc .extra .hideable-switch {
  padding-top: 0.4em;
}
.extra .hideable-nohide .hideable-switch,
.extra .hideable-switch:hover,
.fb a:hover,
.twitter a:hover {
  background: #eeeeee;
}
.hdesc .extra .hideable-nohide .hideable-switch,
.hdesc .extra .hideable-switch:hover,
.hdesc .fb a:hover,
.hdesc .twitter a:hover {
  background: #757575;
}
#content .extra .hideable-switch:before,
.fb a:before,
.twitter a:before {
  content: "\f1e0";
  font-family: "FontAwesome";
}
.section .extra .hideable-switch:before,
.fb a:before,
.twitter a:before {
  transition: 0.25s ease-out;
  color: transparent;
}
.section .extra .hideable-switch:before, .fb a:before, .twitter a:before {
  color: #999;
  margin: 0;
}
.section .extra .hideable-switch {
  padding-left: 0.5em;
}
.fb a {
  padding-left: 0.7em;
}
.fb a:before {
  content: "\f09a";
}
.twitter a:before {
  content: "\f099";
}
#content .hdesc .extra {
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 1em; */
  width: 100%;
  /* box-sizing: border-box; */
  /* text-align: right; */
  position: relative;
  /* right: 0; */
}
span.copyable-wrapper {
  color: #333;
  width: max-content;
  max-width: 100%;
  /* right: 0; */
  /* left: auto; */
  /* box-shadow: none; */
}
#content .hdesc .extra {
  /* bottom: -3.5em; */
}
/***************************/
h2#docinfo {
  display: none;
}
ul.docinfo.nomultiple.global {
  text-align: left;
  border-top: thin solid #d6d6d6;
  padding-top: 3em;
  margin-top: 3em;
}
.share {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 1em 3em 1em;
}
.share li {
  margin: 0.5em 0;
  margin-right: 1em;
}
.share li a:before {
  float: left;
  color: #757575;
  font-size: 1.2em;
  line-height: 1.2;
  width: 1rem;
}
@media (min-width: 30em) {
  .share,
  ul.docinfo.nomultiple.global {
    display: flex;
    flex-wrap: wrap;
  }
  ul.docinfo.nomultiple.global li {
    margin-bottom: 0;
  }
}
/***************************/
@keyframes moreable-shown {
  0% {
    background-color: #ffffd0;
    opacity: 1;
  }
  100% {
    background-color: white;
  }
}
.clanek.moreable-shown {
  animation-name: moreable-shown;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
/***************************/
#feedback {
  border-top: thin solid #ddd;
  padding: 1em 0;
}
#feedback button {
  background: none;
  color: #3f51b5;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
#feedback .hide {
  display: none;
}
#feedback p,
#feedback dt {
  font-size: 1.15em;
  margin-top: 1em;
  margin-bottom: 0.75em;
}
#feedback dd {
  margin-left: 0;
  margin-top: 0.5em;
}
#feedback .feedback-no {
  margin-left: 1em;
}
.feedback-invalid-input {
  border-color: #E57373 !important;
}
#feedback-text:focus,
#feedback-email:focus {
  border-color: #37474F;
  outline: none;
}
#feedback-text,
#feedback-email {
  border: none;
  border-bottom: thin solid #B0BEC5;
  background: #F5F5F5;
  padding: 1em 1.25em;
  border-radius: 0.5em 0.5em 0 0;
}
#feedback-text {
  min-height: 6.5em;
}
#feedback-email {
  width: 100%;
  max-width: 17em;
}
#feedback .feedback-no,
#content #feedback .feedback-yes,
#feedback button:first-child {
  border: none;
}
