@charset "UTF-8";
/***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}
.wf-active body {
  font-family: Cabin, sans-serif;
  color: #444;
}
.clanek .heading a,
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: Rubik, sans-serif;
}
/***************************/
strong {
  font-weight: 600;
}
a {
  color: #3f51b5;
}
a[href] {
  border-color: #9fa8da;
}
/***************************/
dl.figure {
  color: #37474f;
  padding: 0.5em;
}
dl.figure dt {
  /* width: 100%; */
  align-items: center;
}
/***************************/
#header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
}
#header .contentlink-bc a {
  color: white;
}
#header .contentlink-bc li a[href] span {
  border-color: #ffffff99;
}
#header .contentlink-bc a {
  border: none;
}
#header .contentlink-bc span {
  display: none;
  margin-left: 0.8em;
  border-bottom: thin solid transparent;
  margin-bottom: 0.1em;
}
.hdesc {
  color: white;
  position: relative;
  overflow: hidden;
}
.hdesc > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1em;
}
.hdesc > div > h1 {
  max-width: 18em;
  margin-top: 0;
  margin-bottom: 0;
}
#header > div {
  display: flex;
}
#header > div form {
  flex-grow: 1;
}
.hdesc > div {
  margin-top: 7em;
  padding-top: 4vw;
  margin-bottom: 4em;
  padding-bottom: 4vw;
}
.hdesc > div div.meta {
  max-width: 25em;
  margin-bottom: 2em;
  padding-bottom: 3vw;
}
.hdesc > div h1 + div {
  margin-top: 2em;
  padding-top: 3vw;
}
@media (min-width: 38em) {
  #header .contentlink-bc span {
    display: initial;
  }
  #header > div {
    display: flex;
    z-index: 11;
    justify-content: space-between;
    padding: 0;
  }
}
.hdesc a {
  color: white;
}
.hdesc > div > * {
  padding: 0;
  position: relative;
  z-index: 1;
}
.hdesc > div > div > * {
  line-height: 1;
  display: inline;
  padding: 0;
}
.hdesc > div  a.tag:last-child {
  margin-right: 0;
}
.hdesc > div > div > p.description {
  padding-left: 0.25em;
}
.hdesc:before,
.hdesc:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hdesc:after {
  background: #000000a6;
}
.hdesc:before {
  background-size: cover;
  background-position: 50% 30%;
}
/***************************/
.hdesc:before {
  animation: ken-burn-in 10s;
}
@-webkit-keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/***************************/
dl.figure.author dt q {
  display: block;
  margin-top: 1rem;
  font-size: 1.2em;
  font-style: italic;
  color: #A76820;
}
dl.figure.author dd q {
  font-style: italic;
}
/***************************/
#content .clanek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
  position: relative;
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2),
    0 0.1em 0.1em 0 rgba(0,0,0,.14),
    0 0.05em 0.25em 0 rgba(0,0,0,.12);
  padding: 0;
  border-radius: 0.25em;
  background: white;
  width: 100%;
  max-width: 25em;
}
.clanek dt:first-child img {
  display: block;
}
.clanek dt:first-child a:before {
  transition: all .5s ease-in-out;
}
a.tag:before,
.clanek .heading a {
  transition: all .2s ease-in-out;
}
.clanek dt:first-child a:before,
.clanek dt:first-child a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.8) 0%,rgba(0, 0, 0, 0) 25%);
  border-radius: 0.25em 0.25em 0 0;
}
.clanek dt:first-child a:before {
  background: none;
}
.clanek dt:first-child a:hover:before {
  background: #00000059;
}
.clanek > * {
  margin: 0;
  width: 100%;
}
.clanek .heading a {
  color: #111;
  border: none;
}
.clanek .heading a:hover {
  color: #3949ab;
}
.clanek .date {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  z-index: 2;
}
.clanek .desc.expand {
  height: auto;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.25em;
  line-height: 0;
  vertical-align: -0.1em;
}
.clanek .extra ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100%;
  position: relative;
}
.clanek .extra ul li {
  height: 2.25em;
}
.clanek .extra ul li:nth-child(2) {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
.clanek .extra .button {
  border: none;
  display: inline-block;
}
.contentbalancer-simple a:hover,
.clanek .extra .button:hover {
  background: #e8eaf6;
}
.contentbalancer-simple a:focus,
.contentbalancer-simple a:active,
.clanek .extra .button:focus,
.clanek .extra .button:active {
  background: #c5cae9;
}
/***************************/
.contentbalancer-simple {
  margin: 2.5em 0;
}
.contentbalancer-simple ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
@media (max-width: 30em) {
  .contentbalancer-simple ul {
    flex-direction: column;
    align-items: center;
  }
}
.contentbalancer-simple ul li {
  margin: 0.5em 0;
  /* min-width: 14em; */
}
.contentbalancer-simple ul li a {
  margin: 1em 0;
}
/***************************/
a.tag[href]:hover:before {
  color: #9e9e9e;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  color: #e0e0e0;
  font-size: 1.25em;
  line-height: 0;
}
h2 a.tag:before,
a.tag[href^="#"]:before {
  color: #9e9e9e;
}
a.tag:not([href]) {
  border: none;
  color: inherit;
}
.kw {
  display: flex;
  flex-wrap: wrap;
  max-height: 3.5em;
  overflow: hidden;
  justify-content: center;
}
h2 a.tag {
  margin-left: 0.5em;
}
h2 a.tag:before {
  /* color: #9e9e9e; */
}
/***************************/
.current-label {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
}
.current-label li {
  margin: 0;
  display: flex;
  align-items: center;
}
.current-label li + li a {
  cursor: pointer;
  max-width: none;
}
.current-label li span {
  margin-left: 0.5em;
}
a.taglist-tag {
  display: none;
}
a.taglist-tag:not([href]) {
  display: inline;
}
a.taglist-tag:not([href]):before {
  color: #9e9e9e !important;
}
.filter .button {
  color: #1a237e;
  vertical-align: middle;
  border: 0.1em solid;
  /* margin-left: 1em; */
}
.filter .button:hover {
  background: #c5cae9;
}
.filter .button:active,
.filter .button:focus {
  background: #9fa8da;
}
/***************************/
#footer {
  margin-top: 3em;
  margin-bottom: 3em;
}
/***************************/
.hdesc:before { 
  background-image: url("/files/koutek/main.jpg");
}
/***************************/
.search {
  padding-right: 6em;
  width: 100%;
}
.search .navigList strong {
  font-weight: 600;
}
.search .navigList li:before {
  font-family: "FontAwesome";
  margin-right: 0.5em;
}
.search .navigList .article:before {
  content: "\f0f6";
}
.search .navigList .tag:before {
  content: "\f02b";
}
.search .navigList .google:before {
  content: "\f1a0";
}
.search .navigList span {
  color: #9e9e9e;
}
.search ul input {
  color: white;
}
.search ul input {
  height: 3.5em;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  background: #ffffff52;
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 100%;
  /* border: thin solid #ffffff61; */
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0 0 0 0.25em;
  border: thin solid #ffaf6e9e;
  border-top: none;
}
@media (min-width: 38em) {
  .search {
    max-width: 25em;
  }
  .search ul input {
    width: 18em;
  }
  .search ul input:focus {
    width: 100%;
  }
}
@media (min-width: 62rem) {
  .search ul button {
    border-radius: 0 0 0.25em 0 !important;
  }
}
.search ul input:focus {
  color: inherit;
  background: #ffffff;
}
@media (max-width: 38em) {
  .search ul input:focus {
    position: absolute;
    max-width: calc(100% + 5em);
    width: calc(100% + 5em);
    border-radius: 0;
    border-left: none;
  }
}
.search ul input::placeholder {
  color: #fff;
}
.search ul input:focus::placeholder {
  color: #555;
}
.search button[type="submit"] {
  font-family: "FontAwesome";
  width: 6rem;
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  border: none;
  position: absolute;
  right: -6rem;
  top: 0;
  background: #ef6c00;
  color: #fbe9e7;
  padding: 0 1rem;
  font-size: 1.8em;
  outline: none;
  border-radius: 0;
  -webkit-appearance:  none;
}
.search button[type="submit"]:hover {
  background: #fb8c00;
}
.search button[type="submit"]:active,
.search button[type="submit"]:focus {
    background: #e65100;
}
.search button[type="submit"]:before {
  content: "\f002";
  display: inline-block;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul > li {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.search .navigList {
  width: calc(100% + 6em) !important;
  right: -6em;
  top: 3.5em;
  display: block;
}
.search .navigList li {
  max-width: calc(100% - 0.5em);
  display: block;
}
@media (max-width: 38em) {
  .search .navigList {
    width: calc(100% + 11em) !important;
    right: -6em;
    top: 3.5em;
    display: block;
  }
}
/***************************/
.pralek.hdesc {
  margin-bottom: 0;
}
.pralek.hdesc + div + div > .part:first-child {
  padding: 0.1em 0 1em 0;
}
.agregator .part:last-child,
.pralek.hdesc + div,
.pralek.hdesc + div + div > .part + .part {
  padding: 0.1em 0 1em 0;
  background: #eceff1;
}
/***************************/
.moreable-linkwrapper a,
.contentbalancer-simple a,
.newsletter input[type="submit"],
.button,
button {
  border: none;
  padding: 0.6rem 1rem 0.5em;
  letter-spacing: .08929em;
  border-radius: 0.35em;
  transition: 0.25s ease-out;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  max-width: 15em;
  cursor: pointer;
  font-size: 1rem;
  /* box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.14),     0 0.15em 0.05em -0.1em rgba(0,0,0,0.12),     0 0.05em 0.25em 0 rgba(0,0,0,0.2); */
}
.moreable-linkwrapper a,
.button:hover,
button:hover {
  /*
  box-shadow: 0 0.15em 0.15em 0 rgba(0,0,0,0.14),
    0 0.05em 0.35em 0 rgba(0,0,0,0.12),
    0 0.15em 0.05em -0.05em rgba(0,0,0,0.2);
  */
}
ol.otazky button {
  margin: 0.2em 0;
}
ol.otazky button:before {
  content: "\f00c";
  font-family: "FontAwesome";
  padding-right: 0.5em;
}
ol.otazky button:last-child:before {
  content: "\f00d";
}
ol.otazky button {
  cursor: pointer;
  border: 0.1em solid;
  background: none;
  color: #4caf50;
}
ol.otazky button:hover {
  background-color: #e8f5e9;
}
ol.otazky button:active,
ol.otazky button:focus {
  background-color: #c8e6c9;
}
ol.otazky button:last-child {
  color: #f44336;
}
ol.otazky button:last-child:hover {
  background-color: #ffebee;
}
ol.otazky button:last-child:active,
ol.otazky button:last-child:focus {
  background-color: #ffcdd2;
}
ol.otazky button:not(.selected):disabled {
  color: #dadada;
}
.otazky li span {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@media (min-width: 30em) {
  .otazky li span {
    display: block;
    max-width: none;
    margin: 0.6em 0;
  }
  .otazky li span button:first-child {
    margin-right: 0.7em;
  }
}
/***************************/
.newsletter dl {
  padding-left: 0;
  padding-right: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}
.newsletter dt {
  display: none;
}
.newsletter dd {
  display: flex;
  float: none;
  margin: 0 auto;
}
.newsletter input[type="submit"] {
  background: white;
  border-radius: 0 0.3em 0.3em 0;
  color: #bf360c;
  /* border-bottom: thin solid #ffccbc; */
}
.newsletter input[type="submit"]:hover {
  background: #fbe9e7;
}
.newsletter input[type="submit"]:active,
.newsletter input[type="submit"]:focus {
    background: #ffab91;
}
.newsletter input[type="email"] {
  border: none;
  padding: 0.3em 0.5em;
  margin-left: 0.5em;
  border-bottom: thin solid #e0e0e0;
}
/***************************/
.example,
.important {
  max-width: 45em !important;
  padding: 1em;
  background: #ffebee;
  color: #b71c1c;
  overflow: hidden;
  display: table;
}
.example:before,
.important:before {
  content: "\f071";
  font-family: "FontAwesome";
  color: #ef9a9a;
  font-size: 2em;
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}
.example {
  background: #fff3e0;
  color: #e65100;
}
.example:before {
  content: "\f0eb";
  color: #ef6c00;
}
/***************************/
.moreable-linkwrapper {
  width: 100%;
  max-width: 100% !important;
  flex: 0 0 100% !important;
  text-align: center;
  padding-top: 3em !important;
}
.moreable-linkwrapper a {
  display: inline-block;
  margin: 0 auto !important;
  width: auto;
  border: 0.1em solid;
  cursor: pointer;
}
.moreable-linkwrapper a:hover {
  background: #e8eaf6;
}
.moreable-linkwrapper a:focus,
.moreable-linkwrapper a:active {
  background: #c5cae9;
}
/***************************/
a#scrolltop {
  transition-property: all !important;
  /* transition-duration: 0.5s !important; */
  transition-timing-function: ease-in-out !important;
  background: #ef6c009e !important;
  border-radius: 0.3rem !important;
}
a#scrolltop:hover {
  background: #ef6c00d6 !important;
}
/***************************/
ul.docinfo.nomultiple.global li:before {
  color: #757575;
}
/***************************/
.clanek span.copyable-wrapper {
  position: absolute;
  left: 0;
  top: -2em;
  width: 100%;
  background: #fff59d;
  display: flex;
  justify-content: space-between;
  border-radius: 0.3rem;
  align-items: center;
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2), 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.05em 0.25em 0 rgba(0,0,0,.12), 0 -0.6em 1em 0 white;
}
.clanek span.copyable-wrapper > span:first-child {
  order: 2;
  font-size: 1.2em;
  background: #e0e0e0;
  padding: 0.1em 0.2em 0.1em 0.4em;
  border-radius: 0 0.3rem 0.3rem 0;
}
.clanek span.copyable-wrapper > span:first-child button {
  padding: 0.2em;
  height: 1.7em;
  width: 2em;
  border-radius: 0;
  overflow: hidden;
  background: none;
}
.clanek span.copyable-wrapper > span:first-child button:before {
  content: "\f0ea";
  font-family: "FontAwesome";
}
.clanek span.copyable-wrapper > span:first-child + span {
  padding: 0 0.5em;
}
.clanek .extra .hideable > span:first-child {
  transition: 0.25s ease-out;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  height: 2em;
  width: 2em;
}
.clanek .extra .hideable > span:first-child:hover {
  background: #e0e0e0;
}
.clanek .extra .hideable-switch {
  width: 1.1em;
  height: 1.2em;
  display: block;
  overflow: hidden;
  line-height: 1.1;
}
.clanek .extra .hideable-switch:before {
  content: "\f1e0";
  font-family: "FontAwesome";
  color: #757575;
}
/***************************/
