rset "UTF-8";
/***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}
.wf-active body {
  font-family: Cabin, sans-serif;
}
/***************************/
strong {
  font-weight: 600;
}
a {
  color: #3949ab;
}
/***************************/
dl.figure {
  background: #e4e4e4;
  padding: 0.5em;
}
/***************************/
.clanek .heading a,
h1, h2, h3 {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.clanek .heading a,
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: Rubik, sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h2, h3 {
  color: #111;
}
h1 + p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 3em;
  max-width: 45em;
}
/***************************/
#header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
}
ol.contentlink-bc {
  padding: 1em;
}
#header .contentlink-bc a {
  color: white;
  border-color: #ececec;
}
#header .contentlink-bc li:first-child a:not([href]) {
  font-size: 1.2em;
}
ol.contentlink-bc > li+li:before {
  color: #e6e6e6;
}
.hdesc {
  min-height: 17em;
  color: white;
  position: relative;
  overflow: hidden;
}
.hdesc > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1em;
}
.hdesc h1 {
  margin-top: 3em;
}
#header > div {
  display: flex;
  flex-wrap: wrap;
}
#header > div > * {
  width: 100%;
}
#header > div form {
  order: -1;
}
@media (min-width: 38em) {
  .hdesc {
    min-height: 35em;
  }
  .hdesc h1 {
    margin-top: 3.5em;
  }
  #header > div {
    display: flex;
    flex-wrap: nowrap;
    z-index: 11;
    justify-content: space-between;
    padding: 0 0 0 1em;
    align-items: : center;
  }
  #header > div > * {
    width: auto;
  }
  #header > div form {
    order: unset;
  }
  ol.contentlink-bc {
    padding: 1em 0;
  }
}
.hdesc a {
  color: white;
}
.hdesc > div > * {
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 33em;
  margin-left: auto;
  margin-right: auto;
}
.hdesc > div > h1 {
  max-width: 15em;
}
.hdesc > div > div > * {
  display: inline;
  padding: 0;
  padding-left: 0.25em;
}
.hdesc > div > div > div > span + span a:last-child {
  margin-right: 0;
}
.hdesc:before,
.hdesc:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hdesc:after {
  background: #000000a6;
}
.hdesc:before {
  background: url("/files/header.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}
/***************************/
.hdesc:before {
  animation: ken-burn-in 10s;
}
@-webkit-keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ken-burn-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/***************************/
dl.figure.author {
  display: block;
  background: none;
  max-width: 57em;
  margin: 5em auto;
}
dl.figure.author:after {
  content: "";
  display: table;
  clear: both;
}
dl.figure.author .img + dd {
  font-size: 1.5em;
}
dl.figure.author dt q {
  display: block;
  margin-top: 1rem;
  font-size: 1.2em;
  font-style: italic;
  color: #A76820;
}
dl.figure.author dd q {
  font-style: italic;
}
@media all and (min-width: 42em) {
  dl.figure.author {
    text-align: left;
  }
  dl.figure.author .img {
    float: left;
  }
  dl.figure.author > *:not(.img) {
    margin-left: 16rem;
  }
}
/***************************/
#content .clanek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
  position: relative;
  box-shadow: 0 0.15em 0.05em -0.1em rgba(0,0,0,.2),
    0 0.1em 0.1em 0 rgba(0,0,0,.14),
    0 0.05em 0.25em 0 rgba(0,0,0,.12);
  padding: 0;
  border-radius: 0.25em;
  background: white;
}
dl.clanek > *:not(:first-child):not(.date) {
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
.clanek img {
  object-fit: cover;
  width: 100%;
  height: 15em;
  max-height: 100%;
  border-radius: 0.25em 0.25em 0 0;
}
.clanek dt:first-child {
  position: relative;
}
.clanek dt:first-child a {
  display: block;
  position: relative;
  z-index: 1;
  border: none;
}
.clanek dt:first-child img {
  display: block;
}
.clanek dt:first-child a:before {
  transition: all .5s ease-in-out;
}
a.tag:before,
.clanek .heading a {
  transition: all .2s ease-in-out;
}
.clanek dt:first-child a:before,
.clanek dt:first-child a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.8) 0%,rgba(0, 0, 0, 0) 25%);
  border-radius: 0.25em 0.25em 0 0;
}
.clanek dt:first-child a:before {
  background: none;
}
.clanek dt:first-child a:hover:before {
  background: #00000059;
}
.clanek > * {
  margin: 0;
  width: 100%;
}
.clanek dd.kw {
  margin: 0.75em 0;
  order: 0;
}
.clanek .heading {
  font-size: 1.5em;
  margin: 0 0 0.25em 0;
}
.clanek .heading a {
  color: #111;
  border: none;
}
.clanek .heading a:hover {
  color: #3949ab;
}
.clanek .date {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  text-align: right;
  width: calc(100% - 2rem);
  z-index: 2;
}
.clanek .desc {
  flex-grow: 1;
  margin: 0.5em 0;
}
.clanek .desc.expand {
  height: auto;
}
.clanek .desc.expand:after {
  height: 0;
}
.clanek .desc a.expand-button {
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.25em;
  line-height: 0;
  vertical-align: -0.1em;
}
#content .clanek .extra {
  padding: 0.5em;
  padding-top: 0;
}
.clanek .extra .button {
  border: none;
  display: inline-block;
}
.clanek .extra .button:hover {
  background: #e8eaf6;
}
.clanek .extra .button:focus,
.clanek .extra .button:active {
  background: #c5cae9;
}
/***************************/
a.tag {
  border: none;
  margin: 0.2em 0.5em 0.2em 0;
  display: inline-block;
  border-radius: 0.2em;
}
a.tag:hover:before {
  color: #9e9e9e;
}
a.tag:before {
  font-family: "FontAwesome";
  margin-right: 0.25em;
  vertical-align: middle;
  content: "\f02b";
  color: #e0e0e0;
  font-size: 1.25em;
  line-height: 0;
}
a.tag[href^="#"]:before {
  color: #9e9e9e;
}
a.tag:not([href]) {
  border: none;
  color: inherit;
}
a.tag:not([href]):hover:before {
  color: #e4e4e4;
}
.kw {
  display: flex;
  flex-wrap: wrap;
  max-height: 3.5em;
  overflow: hidden;
  justify-content: center;
}
.kw a.tag[href^="#"] {
  order: -1;
}
.kw a.tag:not([href]) {
  order: 1000;
}
/***************************/
.taglist {
  border-bottom: thin solid #cecece;
  padding: 0;
  padding-bottom: 5em;
}
#footer {
  margin-top: 3em;
  margin-bottom: 3em;
}
/***************************/
.hdesc:before { 
  background-image: url("/files/koutek/main.jpg");
}
/***************************/
.search {
  padding-right: 6em;
  max-width: 100%;
}
.search .navigList strong {
  font-weight: 600;
}
.search .navigList li:before {
  font-family: "FontAwesome";
  margin-right: 0.5em;
}
.search .navigList .article:before {
  content: "\f0f6";
}
.search .navigList .tag:before {
  content: "\f02b";
}
.search .navigList .google:before {
  content: "\f1a0";
}
.search .navigList span {
  color: #9e9e9e;
}
.search ul input {
  color: white;
}
.search ul input {
  height: 3.5em;
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  background: #ffffff70;
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
}
@media (min-width: 38em) {
  .search {
    max-width: 45%;
  }
  .search ul input {
    width: 18em;
  }
  .search ul input:focus {
    width: 40em;
  }
}
.search ul input:focus {
  color: inherit;
  background: #ffffff;
}
.search ul input::placeholder {
  color: #fff;
}
.search ul input:focus::placeholder {
  color: #555;
}
.search button[type="submit"] {
  font-family: "FontAwesome";
  width: 6rem;
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  border: none;
  position: absolute;
  /* right: -6rem; */
  top: 0;
  background: #ef6c00;
  color: #fbe9e7;
  padding: 0 1rem;
  font-size: 1.8em;
  outline: none;
  border-radius: 0;
  -webkit-appearance:  none;
}
.search button[type="submit"]:before {
  content: "\f002";
  display: inline-block;
}
.search ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search ul li {
  margin: 0;
  position: relative;
}
@media (max-width: 38em) {
  .search .navigList {
    width: calc(100% + 6em) !important;    
  }
  .search .navigList li {
    max-width: calc(100% - 0.5em);
  }
}
/***************************/
.pralek.hdesc {
  margin-bottom: 0;
}
.pralek.hdesc + div + div > .part:first-child {
  padding: 0.1em 0 1em 0;
}
.agregator .part:last-child,
.pralek.hdesc + div,
.pralek.hdesc + div + div > .part + .part {
  padding: 0.1em 0 1em 0;
  background: #eceff1;
}
/***************************/
.button,
button {
  border: none;
  padding: 0.5em 1em;
  letter-spacing: .08929em;
  border-radius: 0.35em;
  transition: 0.25s ease-out;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  max-width: 15em;
  /* box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.14),     0 0.15em 0.05em -0.1em rgba(0,0,0,0.12),     0 0.05em 0.25em 0 rgba(0,0,0,0.2); */
}
.button:hover,
button:hover {
  /*
  box-shadow: 0 0.15em 0.15em 0 rgba(0,0,0,0.14),
    0 0.05em 0.35em 0 rgba(0,0,0,0.12),
    0 0.15em 0.05em -0.05em rgba(0,0,0,0.2);
  */
}
ol.otazky button {
  margin: 0.2em 0;
}
ol.otazky button:before {
  content: "\f00c";
  font-family: "FontAwesome";
  padding-right: 0.5em;
}
ol.otazky button:last-child:before {
  content: "\f00d";
}
ol.otazky button {
  border: 0.1em solid;
  background: none;
  color: #4caf50;
}
ol.otazky button:hover {
  background-color: #e8f5e9;
}
ol.otazky button:active,
ol.otazky button:focus {
  background-color: #c8e6c9;
}
ol.otazky button:last-child {
  color: #f44336;
}
ol.otazky button:last-child:hover {
  background-color: #ffebee;
}
ol.otazky button:last-child:active,
ol.otazky button:last-child:focus {
  background-color: #ffcdd2;
}
ol.otazky button:not(.selected):disabled {
  color: #dadada;
}
.otazky li span {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@media (min-width: 30em) {
  .otazky li span {
    display: block;
    max-width: none;
    margin: 0.6em 0;
  }
  .otazky li span button:first-child {
    margin-right: 0.7em;
  }
}
/***************************/
.important {
  max-width: 60em !important;
  padding: 1em;
  background: #ffebee;
  color: #b71c1c;
  overflow: hidden;
  display: table;
}
.important:before {
  content: "\f071";
  font-family: "FontAwesome";
  color: #ef9a9a;
  font-size: 2em;
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}
/***************************/

